.App {
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: grey;
  padding-top: 50px;
  .pageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    .homeHeader {
      display:flex;
      justify-content: center;
      background-color: White;
      background-size: cover;
      background-position: center;
      height: 400px;
      width: 100%;
      .tcfLogo {
        height: 400px;
      }
    }
  }
  .socialDiv {

    .socialWrapper {
      background-color: #ceede0;
      color: #207ea9;
      .socialContact {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        .socialIcons {
          width: 25%;
          color: #207ea9;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .socialImg {
          height: 40px;
          width: 40px;
          fill: #207ea9;
          margin: 15px;
        }
      }
      .modalButton {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .contactButton {
          display:flex;
          flex-direction: column;
          
          justify-content: center;
          text-align: center;
          background-color: #207ea9;
          border-color: #207ea9;
          padding: 10px;
          border-radius: 25px;
          border-style: solid;
          color: white;
          .contactButton:hover {
            color: #207ea9;
            background-color: #d4d1ca;
          }
        }
        .modalButton Button {
          width: 200px;
        }
      }
    }
  }
}
